/*! GENERALS */

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    margin: 0;
}
header{
    height: 90px;
    padding: 1rem;
}
header ul{
    list-style-type: none;
    display: flex;  
}
nav a{
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
}
nav li{
    padding: .5rem 1rem;
}
h1{
    font-size: 5rem;
    margin: 3rem 0;
}
h2{
    font-size: 2.5rem;
    margin: 3rem 0;
}
h3{
    font-size:  1.7rem;
    margin: 1rem 0;
}
button{
    border: none;
    font-size: 1rem;
    text-align: center;
    background-color: #0061ff;
    color: #fff;
    padding: .5rem 1rem
}
.blue-bg a{
    color: #fff;
}
.jumbo{
    width: 100%;
}
.col{
    width: 50%;
}
/*! UTILS */
.blue-bg{
    color: #fff;
    background-color: #0061ff;
}
.blue{
    color: #0061ff;
    background-color:#fff;

}
.container-full{
   max-width: 1920px;
    margin: 0 auto;
}

.container-big{
    max-width: 1200px;
    margin: 0 auto;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.between{
    justify-content: space-between;
}
.start{
    justify-content:;
}
.ycenter{
    align-items: center;
}
.wrap{
    flex-wrap: wrap;
}
.switch{
    flex-direction: column;
}
.gap{
    gap: 2rem;
}
.round-sel{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 5px solid #0061ff;
}
.m-y{
    margin: 0 1rem;
}
.sel-btn{
    margin: 2rem 0;
}
.col1-3{
    width: calc((100% - 4rem)/3);
}
.col100{
    width: 100% ;
    /*! DEBUG */
    height: 200px;
    border: 1px dashed red;
}
.card{
    border: 1px solid #8e8e8e;
    height: 100%;
}
.card-header{
    border-bottom: 1px solid #8e8e8e;
    width: 100%;
    text-align: center;
    height: 3rem;
    line-height: 3rem;

}
.card-main{
    padding: 2rem;
    height: 100%;

}
.card ul{
    list-style-type: none;
}
.card ul li{
    margin: 2rem 0;
    width: 100%;
}
.card i{
    margin: 0 1rem 0 0 ;
    height: 100%;
}
.break-line{
    height: 2px;
    width: 30%;
    background-color: #a0a0a0;
    margin: 1rem 0;
}
.price{
    font-weight: 700;
    font-size: .9rem;
}
.plan{
    font-weight: 200;
    color: #6e6e6e;
}
/* ! sezione > container > riga > colonna */