/*! GENERALS */

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    margin: 0;
}
header{
    height: 90px;
    padding: 1rem;
}
header ul{
    list-style-type: none;
    display: flex;  
}
nav a{
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
}
nav li{
    padding: .5rem 1rem;
}
h1{
    font-size: 5rem;
    margin: 3rem 0;
}
h2{
    font-size: 2.5rem;
    margin: 3rem 0;
}
h3{
    font-size: 2rem;
    margin: 1rem 0;
}
.blue a{
    color: #fff;
}
.jumbo{
    width: 100%;
}
.col{
    width: 50%;
}
/*! UTILS */
.blue{
    background-color: blue;
    color: #fff;
}
.container-full{
    width: 1920px;
    margin: 0 auto;
}

.container-big{
    width: 1200px;
    margin: 0 auto;
}

.container{
    width: 1000px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.between{
    justify-content: space-between;
}
.ycenter{
    align-items: center;
}
.wrap{
    flex-wrap: wrap;
}
.switch{
    flex-direction: column;
}
.gap{
    gap: 2rem;
}
.round-sel{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 5px solid #0061ff;
}
.m-y{
    margin: 0 1rem;
}